*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grand{
    display: flex;
    align-items: center;
    align-items: center;
    padding: 2em;
    height: 20vh;
    width: 20%;
    background-color: rgb(131, 35, 35);
}
.parent{
    background-color: rgb(84, 179, 46);
    height: 80%;
    width: 80%;
}
.child{
    background-color: rgb(29, 32, 27);
    height: 80%;
    width: 80%;
}